:root {
  --grey-medium: #929298;
  --greyish-brown: #444;
  --plain-white: #fff;
  --purple-grey: #f3f0f6;
  --purple-main: #490e67;
  --purple-medium: #9266cc;
  --black-transparent: #00000017;
  --white-transparent: #ffffff30;
}

html {
  background: var(--purple-grey);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
div,
h1,
input,
li,
ul {
  box-sizing: border-box;
}

.autocomplete {
  margin: 2rem auto;
  max-width: 25rem;
  width: 90%;
}

.autocomplete .logo {
  background: var(--plain-white);
  font-weight: 400;
  color: #222;
}

.autocomplete h1 {
  color: var(--purple-main);
  text-align: center;
  width: 100%;
}

.autocomplete input {
  border: 2px solid var(--grey-medium);
  border-radius: 4px;
  font-size: 1.2rem;
  margin: 0 0 1rem;
  padding: 1rem 1.5rem;
  transition: border 0.2s ease;
  width: 100%;
}

.autocomplete input:hover,
.autocomplete input:focus {
  border-color: var(--purple-medium);
  outline: none;
}

.autocomplete ul,
.autocomplete li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.autocomplete ul {
  background: var(--plain-white);
  border-radius: 4px;
  overflow: hidden;
}

.autocomplete button {
  background: none;
  border: none;
  border-bottom: 1px solid var(--purple-grey);
  color: var(--greyish-brown);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1;
  padding: 0.8rem 1.5rem;
  text-align: left;
  transition: background 0.4s ease;
  width: 100%;
}

.autocomplete button:hover,
.autocomplete button:focus {
  background: var(--black-transparent);
  border: none;
  border-bottom: 1px solid var(--purple-grey);
  outline: none;
  transition: background 0.1s ease;
}

.autocomplete li:last-child button {
  border-bottom: none;
}

.autocomplete .loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--white-transparent);
  backdrop-filter: blur(6px);
}

.autocomplete .loading-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5rem;
  width: 10rem;
  height: 10rem;
  border: 1rem solid var(--purple-medium);
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s infinite linear;
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
